.login{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 40%;
    right: 50%;
    align-items: center;
    border-radius: 10px;
    background-color:#ecdbdb;
    width: 25vw;
    height: 65vh;
    margin: 10px;
}
.input{
    border-style: none;
    border-bottom: 2px solid #a43e3e;
    background-color: #ecdbdb;
    margin-bottom: 10px;
}
.error{
    color: red;
    margin-bottom: 10px;
}

@media screen and (max-width:600px) {
    .login{
        width: 50vw;
        height: 70vh;
    }
}